<header class="menu">
    <h1 class="menu__title">BLOG</h1>
</header>

<main class="main">
    <section id="formulario" class="main__formulario">
        <div>
            <div>
                <label for="title" class="formulario--espacio">Título</label>
                <input [(ngModel)]="newNews.title" class="formulario__input" type="text" id="title" placeholder="Introduzca un título">
            </div>
            <div>
                <label for="urlImg" class="formulario--espacio">URL (Imagen)</label>
                <input [(ngModel)]="newNews.image[0].url" class="formulario__input" type="text" id="urlImg" placeholder="Introduzca una ruta">
            </div>
            <div> <!-- la fecha de publicación no la escoge el usuario se crea de forma automática al dar a guardar aunque en esta actividad se ha dejado que el usaurio ponga la fecha de publicación -->
                <label for="date" class="formulario--espacio">Fecha</label>
                <input [(ngModel)]="newNews.date" class="formulario__input" type="date" id="date" placeholder="Introduzca un título">
            </div>
            <textarea [(ngModel)]="newNews.text" name="textarea" rows="10" cols="50" placeholder="Escriba la noticia aquí"></textarea>
            <div>
                <button class="formulario__boton" (click)="guardarNoticia()">Crear Noticia</button>
            </div>
        </div>        
    </section>
    
    <section id="listado" [innerHTML]="displayData()"></section>
</main>

<footer class="footer">
    <h3 class="footer__description">Noticiero &copy;</h3>
</footer>