<header class="menu">
    <h1 class="menu__title">BLOG</h1>
</header>

<main class="main">
    <section id="formulario" [innerHTML]="displayData()">
        
    </section>
    
    <section id="listado" >
        <div class="main__noticia">
            <h2 class="noticia_title">Noticia1</h2>
            <figure class="">
                <img class="noticia__img" src="https://emtstatic.com/2023/07/iStock-450136885-696x464.jpg" alt="arrayImgs[imagenActual].title">
                <!-- <figcaption>title</figcaption> -->
            </figure>
            <p>asdfa</p>
            <span>asdfa</span>
        </div>
        <div class="main__noticia">
            <h2 class="noticia_title">Noticia1</h2>
            <figure class="">
                <img class="noticia__img" src="https://emtstatic.com/2023/07/iStock-450136885-696x464.jpg" alt="arrayImgs[imagenActual].title">
                <!-- <figcaption>title</figcaption> -->
            </figure>
            <p>asdfa</p>
            <span>asdfa</span>
        </div>
    </section>
</main>

<footer class="footer">
    <h3 class="footer__description">Noticiero &copy;</h3>
</footer>