/* header */
.menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    height: 5rem;
    border-bottom: 1px solid black;
    background-color: antiquewhite;
}

.menu__title{
    font-size: 3rem;
}

/* footer */
.footer{
    border-top: 1px solid black;
    padding: 1.5rem;
    background-color: antiquewhite;
}

.footer__description{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* main */
.main{
    display: inline-block;
    width: 100%;
    padding: 0rem 0rem 2rem 0rem;
    font-size: 1rem;
}
.main__noticia{
    display: inline-block;
    padding: 2rem 2rem 0rem 2rem;
}
.noticia_title{
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
.noticia__img{
    float: left;
    max-width: 50%;
    padding-right: 1rem;
}
.noticia__text{
    padding-bottom: 1rem;
}
.noticia__date{
    font-style: italic;
}

.main__formulario{
    background-color: aquamarine;
    padding: 2rem 2rem 1rem 2rem;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
}
.main__formulario div{
    margin-bottom: 0.5rem;
}
.formulario__input{
    width: 55%;
}
.formulario--espacio{
    margin-right: 1rem;
}
.formulario__boton{
    margin-top: 1rem;
    border: 1px solid black;
    background-color: rgb(119, 190, 60);
    padding: 1rem;
    border-radius: 10%;
}
.formulario__boton:hover{
    background-color: rgb(218, 152, 55);
}

