<header class="menu">
    <h1 class="menu__title">BLOG</h1>
</header>

<main class="main">
    <section id="formulario" class="main__formulario">
        <form action="#">
            <label for="title">Título</label>
            <input type="text" id="title" placeholder="Introduzca un título">
            <label for="urlImg">URL (Imagen)</label>
            <input type="text" id="urlImg" placeholder="Introduzca una ruta">
            <label for="date">Fecha</label>
            <input type="date" id="date" placeholder="Introduzca un título">
            <textarea name="textarea" rows="10" cols="50">Escriba la noticia aquí</textarea>
            <button>Crear Noticia</button>
        </form>        
    </section>
    
    <section id="listado" [innerHTML]="displayData()"></section>
</main>

<footer class="footer">
    <h3 class="footer__description">Noticiero &copy;</h3>
</footer>